{{ define "main" }}
{{ .LinkTitle }}
<hr />
  {{ range (.Paginator 10000).Pages.ByTitle }}

  <!--<article class="markdown book-post">TERMS2-->
  <span style="margin-right: 0.5em">
      <a href="{{ .RelPermalink }}">{{ partial "docs/title.html" . }}</a><sup>{{ len .Pages }}</sup>
  </span>
    <!--{{ partial "docs/post-meta" . }}
    <p>SUMMARY
      {{- .Summary -}}
      {{ if .Truncated }}
        <a href="{{ .RelPermalink }}">...</a>
      {{ end }}
    </p>-->
  <!--</article>-->
  {{ end }}

  {{ template "_internal/pagination.html" . }}
{{ end }}

{{ define "toc" }}
  {{ partial "docs/taxonomy" . }}
{{ end }}
